<template>
	<icon
		icon-name="github"
		:width="width"
		:height="height"
		view-box="0 0 123 119"
		:icon-color="iconColor"
	>
		<g
			id="Page-1"
			stroke="none"
			stroke-width="1"
			fill="none"
			fill-rule="evenodd"
		>
			<g
				id="GitHub-Mark"
				transform="translate(-289.000000, -6.000000)"
				:fill="iconColor"
			>
				<g id="Group" transform="translate(289.320000, 6.445000)">
					<path
						d="M61.289,0 C27.942,0 0.901,27.036 0.901,60.388 C0.901,87.069 18.204,109.705 42.198,117.69 C45.216,118.249 46.324,116.38 46.324,114.785 C46.324,113.345 46.268,108.588 46.242,103.542 C29.442,107.195 25.897,96.417 25.897,96.417 C23.15,89.437 19.192,87.581 19.192,87.581 C13.713,83.833 19.605,83.91 19.605,83.91 C25.669,84.336 28.862,90.133 28.862,90.133 C34.248,99.365 42.989,96.696 46.435,95.153 C46.977,91.25 48.542,88.586 50.269,87.078 C36.856,85.551 22.756,80.373 22.756,57.234 C22.756,50.641 25.115,45.254 28.978,41.025 C28.351,39.504 26.284,33.362 29.563,25.044 C29.563,25.044 34.634,23.421 46.174,31.234 C50.991,29.896 56.157,29.225 61.289,29.202 C66.421,29.225 71.591,29.896 76.417,31.234 C87.943,23.421 93.007,25.044 93.007,25.044 C96.294,33.362 94.226,39.504 93.599,41.025 C97.471,45.254 99.814,50.641 99.814,57.234 C99.814,80.428 85.687,85.535 72.24,87.03 C74.406,88.904 76.336,92.579 76.336,98.213 C76.336,106.293 76.266,112.796 76.266,114.785 C76.266,116.392 77.353,118.275 80.414,117.682 C104.395,109.688 121.676,87.06 121.676,60.388 C121.676,27.036 94.639,0 61.289,0"
						id="Fill-5"
					></path>
					<path
						d="M23.773,86.704 C23.64,87.004 23.168,87.094 22.738,86.888 C22.3,86.691 22.054,86.282 22.196,85.981 C22.326,85.672 22.799,85.586 23.236,85.793 C23.675,85.99 23.925,86.403 23.773,86.704"
						id="Fill-6"
					></path>
					<path
						d="M26.219,89.432 C25.931,89.699 25.368,89.575 24.986,89.153 C24.591,88.732 24.517,88.169 24.809,87.898 C25.106,87.631 25.652,87.756 26.048,88.177 C26.443,88.603 26.52,89.162 26.219,89.432"
						id="Fill-7"
					></path>
					<path
						d="M28.6,92.91 C28.23,93.167 27.625,92.926 27.251,92.389 C26.881,91.852 26.881,91.208 27.259,90.95 C27.634,90.692 28.23,90.924 28.609,91.457 C28.978,92.003 28.978,92.647 28.6,92.91"
						id="Fill-8"
					></path>
					<path
						d="M31.862,96.27 C31.531,96.635 30.826,96.537 30.31,96.039 C29.782,95.552 29.635,94.861 29.967,94.496 C30.302,94.13 31.011,94.233 31.531,94.727 C32.055,95.213 32.215,95.909 31.862,96.27"
						id="Fill-9"
					></path>
					<path
						d="M36.362,98.221 C36.216,98.694 35.537,98.909 34.853,98.708 C34.17,98.501 33.723,97.947 33.861,97.469 C34.003,96.993 34.685,96.769 35.374,96.984 C36.056,97.19 36.504,97.74 36.362,98.221"
						id="Fill-10"
					></path>
					<path
						d="M41.304,98.583 C41.321,99.081 40.741,99.494 40.023,99.503 C39.301,99.519 38.717,99.116 38.709,98.626 C38.709,98.123 39.276,97.714 39.998,97.702 C40.716,97.688 41.304,98.088 41.304,98.583"
						id="Fill-11"
					></path>
					<path
						d="M45.903,97.8 C45.989,98.286 45.49,98.785 44.777,98.918 C44.076,99.046 43.427,98.746 43.338,98.264 C43.251,97.766 43.759,97.267 44.459,97.138 C45.173,97.014 45.812,97.306 45.903,97.8"
						id="Fill-12"
					></path>
				</g>
			</g>
		</g>
	</icon>
</template>

<script>
import icon from '@/components/icon.vue'

export default {
	name: 'icon-github',
	components: { icon },
	props: {
		width: { type: [Number, String], default: 123 },
		height: { type: [Number, String], default: 119 },
		iconColor: {
			type: String,
			default: 'currentColor',
		},
	},
}
</script>
