<template>
	<icon
		icon-name="gitlab"
		:width="width"
		:height="height"
		view-box="0 0 32 32"
		:icon-color="iconColor"
	>
		<path
			d="M8.383 1.973l-4.305 11.48-.242.652-2.04 5.438L16 29.875l14.203-10.332-2.039-5.438-4.55-12.132-3.731 11.48h-7.766zM8.25 8.027l1.766 5.426H6.215zm15.5 0l2.035 5.426h-3.8zM5.465 15.453h5.2l3.429 10.563-9.89-7.196zm7.3 0h6.47L16 25.403zm8.57 0h5.196l1.266 3.367-9.895 7.196z"
			id="surface1"
		/>
	</icon>
</template>

<script>
import icon from '@/components/icon.vue'

export default {
	name: 'icon-gitlab',
	components: { icon },
	props: {
		width: {
			type: [Number, String],
			default: 32,
		},
		height: {
			type: [Number, String],
			default: 32,
		},
		iconColor: {
			type: String,
			default: 'currentColor',
		},
	},
}
</script>
