<template>
	<div>
		<nav class="mb-8">
			<ul class="flex items-center">
				<li class="list-none ml-0">
					/<nuxt-link to="/">Home</nuxt-link>
				</li>
				<li class="list-none ml-4">
					/<nuxt-link to="/projects">Projects</nuxt-link>
				</li>
			</ul>
		</nav>
		<Nuxt />
		<footer>
			<p @click="email()" @mouseenter="clicked = true">
				Want to get in touch?
				<a class="cursor-pointer">Send me a quick email</a
				><span v-if="clicked">: {{ atob(addr) }}</span
				>.
			</p>
		</footer>
	</div>
</template>

<style lang="scss">
@import 'default';
</style>

<script>
export default {
	data() {
		return { addr: 'bWlzdGV2c0BnbWFpbC5jb20=', clicked: false }
	},
	methods: {
		atob(s) {
			return atob(s)
		},
		email() {
			this.clicked = true
			window.open(`mailto:${atob(this.addr)}`, '_blank')
		},
	},
}
</script>
