html * {
	@apply list-none;
}

body {
	padding: 25px;
	line-height: 1.6;

	@screen sm {
		padding: 75px;
	}
}

nav {
}

.container {
	max-width: 600px;
}

h1 {
	@apply mb-2;
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	@apply mb-12;

	font-size: 1.25em;
}

h3 {
	font-weight: 500;
	font-size: 1.25em;
}

a {
	color: blue;

	&:hover {
		@apply underline;
		color: purple;
	}
}
