<template>
	<div class="container">
		<div class="mb-6 sm:flex sm:items-center sm:mb-0">
			<h1>Hey, I'm Mike</h1>
			<div class="flex items-center sm:ml-auto">
				<a
					class="mr-2 block hover:opacity-50 p-2 pl-0"
					href="https://www.linkedin.com/in/mikenstevens/"
					target="_blank"
					rel="noopener nofollow"
					><icon-linkedin icon-color="black" width="20" height="20"
				/></a>
				<a
					class="mr-2 block hover:opacity-50 p-2"
					href="https://instagram.com/mistevs"
					target="_blank"
					rel="noopener nofollow"
					><icon-instagram icon-color="black" width="20" height="20"
				/></a>
				<a
					class="mr-2 block hover:opacity-50 p-2"
					href="https://github.com/mistevs"
					target="_blank"
					rel="noopener nofollow"
					><icon-github icon-color="black" width="20" height="20"
				/></a>
				<a
					class="mr-2 block hover:opacity-50 p-2"
					href="https://gitlab.com/mistevs"
					target="_blank"
					rel="noopener nofollow"
					><icon-gitlab icon-color="black" width="20" height="20"
				/></a>
				<a
					class="block hover:opacity-50 p-2"
					href="https://medium.com/@mistevs"
					target="_blank"
					rel="noopener nofollow"
					><icon-medium icon-color="black" width="20" height="20"
				/></a>
			</div>
		</div>

		<h2>
			I believe technology can play a central role in bringing people
			together and empowering them to make tomorrow better than today.
		</h2>

		<ul class="work">
			<li>
				I work at the intersection of
				<strong>technology, gaming, and community</strong>
				with
				<a
					href="https://www.gfinityplc.com"
					target="_blank"
					rel="noopener nofollow"
					>Gfinity</a
				>
				as the Head of Product Development, which acquired a company I
				co-founded and acted as the VP of technology of -
				<a
					href="http://corp.cevo.com"
					target="_blank"
					rel="noopener nofollow"
					>CEVO</a
				>.
			</li>
			<li>
				I work at the intersection of
				<strong>technology and property</strong> with
				<a
					href="https://codev.io"
					target="_blank"
					rel="noopener"
					nofollow
					>CoDev</a
				>, which I co-founded as CTO in order to make a dent in the
				housing affordability crisis in Australia.
			</li>
			<li>
				I work at the intersection of
				<strong>technology and hospitality</strong> with
				<a
					href="https://worksmith.io"
					target="_blank"
					rel="noopener nofollow"
					>Worksmith</a
				>, using technology to connect people working in hospitality.
			</li>
			<li>
				I work at the intersection of
				<strong>technology and sustainability</strong> with
				<a
					href="https://futurehorizon.to"
					target="_blank"
					rel="noopener nofollow"
					>F, a Family of entrepeneuers and technologists focused on
					sustainability</a
				>.
			</li>
			<li class="">
				<nuxt-link to="/projects"
					>Click here to read more about what I've worked
					on.</nuxt-link
				>
			</li>
		</ul>
		<p class="mt-6">
			I've founded companies on two continents, worked for companies
			across three, and have built and led teams comprised of members from
			over eight countries.
		</p>
		<div class="mt-10">
			<p class="font-bold">Looking for inspiration?</p>
			<ul class="mt-6">
				<li>
					<a
						target="_blank"
						rel="noopener nofollow"
						href="https://andrewchen.co/"
						>Andrew Chen</a
					>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener nofollow"
						href="https://twitter.com/RayDalio"
						>Ray Dalio</a
					>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener nofollow"
						href="https://medium.com/@michaelpollan"
						>Michael Pollan</a
					>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener nofollow"
						href="https://medium.com/behavior-design"
						>Nir Eyal</a
					>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
import IconInstagram from '@/components/icon-instagram.vue'
import IconMedium from '@/components/icon-medium.vue'
import IconLinkedin from '@/components/icon-linkedin.vue'
import IconGitlab from '@/components/icon-gitlab.vue'
import IconGithub from '@/components/icon-github.vue'

export default {
	components: {
		IconLinkedin,
		IconMedium,
		IconInstagram,
		IconGitlab,
		IconGithub,
	},
}
</script>

<style lang="scss" scoped>
ul {
	@apply mb-12;

	&.work li:last-child {
		list-style: none;
	}

	li {
		@apply ml-6 mb-6;

		list-style: circle;
	}
}
</style>
