<template>
	<div class="container">
		<h1>Projects</h1>
		<h2>
			Below are a few projects of note:
		</h2>
		<ul>
			<li class="my-8">
				<div>
					<h3>NVIDIA GeForce Community</h3>
					<p>
						Live:
						<a
							target="_blank"
							rel="noopener nofollow"
							href="https://www.nvidia.com/en-us/geforce/forums/discover/"
							>Click to view</a
						>
					</p>
					<p class="mt-4">
						During a multi-year process, I led a team that
						re-imagined what engaging with the NVIDIA brand via an
						online community meant. During the discovery process, we
						realized that an outsized proportion of activity was
						occurring on support-related threads. This told us
						people were using the community not because they wanted
						to, but because they had to. Along with several other
						KPIs, we set out to increase support efficacy while
						decreasing its visibility and increasing organic
						discussion around game and NVIDIA-related topics.
					</p>
					<p class="mt-4">
						Due to the nature of NVIDIA's audience, we ensured the
						desktop and larger design were highly usable and
						engaging, using a fluid layout that allows users to
						remain engaged continuously. We introduced real-time
						updates powered by Socket.IO, making topics more like
						conversations, and making those conversations seamless.
						We also added communities with subscriptions that
						populate into an account-centric feed. This allows us to
						surface the content users care about, like the
						discussion around games, and hide the content they
						didn't, like support queries.
					</p>
				</div>
			</li>
			<li class="my-8">
				<div>
					<h3>Qik PHP Framework</h3>
					<p>
						<a
							target="_blank"
							rel="noopener nofollow"
							href="https://github.com/QikDev/qik"
							>Click to view on Github</a
						>
					</p>
					<p class="mt-4">
						When lightweight API frameworks were first peeking their
						heads, I co-created an ultra-lightweight and blazing
						fast PHP framework called Qik, now actively used in
						production on several large-scale projects. It was meant
						to be something small for personal projects but ended up
						being incredibly powerful. Due to the way it handles
						object-based responses, setting up RESTful clients is
						incredibly quick and painless.
					</p>
				</div>
			</li>
			<li class="my-8">
				<div>
					<h3>CoDev + Monash University</h3>
					<p>
						Published: Nov 2020 <br />
						<a
							href="https://www.monash.edu/__data/assets/pdf_file/0006/2444766/CoDev-Townhouse-Development_design-research-report_Nov-2020.pdf"
							target="_blank"
							rel="nofollow noopener"
							>Click here to view</a
						>
					</p>
					<p class="mt-4">
						At CoDev, we worked with Monash University School of
						Architecture to better understand how technology can
						impact project feasibility, design outcomes, and
						affordability. Ultimately we determined that by using
						technology to connect landowners with homebuyers
						directly, we're able to completely change the risk
						profile and typical project waterfall of development
						which ultimately results in higher quality homes at
						reduced prices.
					</p>
					<p class="mt-4">
						Using this research, we created novel development
						feasibility technology that allows us to run tens of
						thousands of feasibilities across every site in
						Melbourne. This led the way for a direct-to-consumer
						product that enables landowners to develop their land
						more efficiently and allows the younger generation more
						affordable and more direct access into the property
						market.
					</p>
				</div>
			</li>

			<li class="my-8">
				<div>
					<h3>The Premier League</h3>
					<p>
						Live:
						<a
							target="_blank"
							rel="noopener nofollow"
							href="https://e.premierleague.com"
							>ePremierLeague</a
						>
					</p>
					<p class="mt-4">
						At Gfinity, I led the design and development of a
						white-label esports platform that allows major brands to
						quickly and easily reach new online audiences. We've
						worked closely with the Premier League over the past few
						years to activate their online fanbase with the
						ePremierLeague, an online manifestation of the Premier
						League that takes place in the FIFA video game on Xbox
						and Playstation.
					</p>
				</div>
			</li>
			<li class="my-8">
				<div>
					<h3>UNICEF Portugal</h3>
					<p>
						Live:
						<a
							target="_blank"
							rel="noopener nofollow"
							href="https://unicef.pt/"
							>https://unicef.pt/</a
						>
					</p>
					<p class="mt-4">
						While travelling the world, I was connected with UNICEF
						Portugal and embarked on a several month journey to make
						education more accessible to the disadvantaged children
						of Portugal. I worked closely with
						<a
							href="http://www.christinelee.design/"
							target="_blank"
							rel="noopener nofollow"
							>Christine Lee</a
						>
						to create an experience that would allow teachers to
						upload and manage their coursework while parents and
						students logged in, downloaded and streamed materials,
						and tracked their progress.
					</p>
				</div>
			</li>

			<li class="my-8">
				<div>
					<h3>F</h3>
					<p>
						<a
							target="_blank"
							rel="noopener nofollow"
							href="https://futurehorizon.to"
							>Friends, Family, Future</a
						>
					</p>
					<p class="mt-4">
						In 2017,
						<a
							href="https://www.instagram.com/bootl/"
							target="_blank"
							rel="noopener nofollow"
							>Mateusz</a
						>
						and I founded F with a mission of creating a community
						focused on building towards a sustainable future. It
						started as an idea at our first Burning Man together in
						2016 and has blossomed into a standalone venture. We've
						hosted two camps and a non-BM related event, Future
						Horizon with around 75 participants each.
					</p>
				</div>
			</li>
		</ul>
	</div>
</template>

<style lang="scss">
@import 'projects';
</style>
